/**/
/* .upper{
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  position:fixed;
  right:0px;
  bottom:0px;
  transition:1s;
  opacity:0.7;
  background-color: rgb(209, 255, 134);
}
.upper:hover{
  opacity:1; 
} */

/* .pList{
  height: 100%;
  overflow-y:scroll;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
ons-page {
    height: 100%;
    margin: 0;
} */


table{
  border-collapse: collapse;
  border:solid 1px #aaaaaa;
  width: 100%;
}
th, td{
  border-collapse: collapse;
  border:solid 1px #aaaaaa;
  padding : 10px 5px;
}

#result {
  color: red;
}

.coler_back_red{
  background: red;
}

.coler_back_brack{
  background: #dadada;
}


.background{
  z-index:0;
  overflow: hidden;
  background-color: white;/*半透明カラーの色*/
}

.background::before{
  content: '';
  background: url("/image/coffee1.jpg");/*背景画像のURL*/
  opacity: 0.5;/*半透明カラーの透明度*/
  filter: blur(8px);/*ぼかし度*/
  position: absolute;
  height: 100%; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width:100%;
    /* 参考: http://designcolor-web.com/2016/09/14/css-blur-effects-background/*/
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
}

.title{
  width: 100%;
}


.image {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  360px;       /* ※縦横を同値に */
  height: 360px;       /* ※縦横を同値に */
}


.container {
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .container>img {
      width: 200px;
      margin: 15px;
    }